*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: arial,sans-serif
}

nav{
    float:right;
    margin:5px 15px 0 0;
}
nav ul{
    display:flex;
    margin:13px 20px auto auto;  
}

nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 24px;
}

nav ul li a{
    text-decoration: none;
    margin:8px;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
}

nav ul li a:hover{
    text-decoration: underline;
}

.container{
    padding-top:75px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.logo{
    display:block;
    height:auto;
    width:auto;
    margin:15px auto;
    object-fit: cover;
}

img{
    max-height: 230px;
    text-align: center;
    height: 100%;
    margin-top: auto;
    display: block;
}

form {
    display: block;
}

.inform{
    display:block;
}


.sizing {
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    display:block;
}

.text-bar{
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.covering {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.search{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.inner-search{
    margin:auto;
}

.span {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}

.span i {
    display: block;
    height: 100%;
    width: 100%;
}

#search{
    display:none;
}

.text{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.text-inner{
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}

#text-field{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.text-bar:hover{
    background-color:#fff;
    box-shadow:0 1px 6px rgba(32,33,36,.28);
    border-color:rgba(223,225,229,0)
}

.buttons{
    height: 70px;
    padding-top: 18px;
    top: 53px;
    z-index: 0;
    text-align: center;
}

#first, #second{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

#first:hover , #second:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    
}
